<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scraper Homework</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styling.css" />

    <div class="container" id="nav-bar">
        <nav class="navbar navbar-expand-sm" id="this">
            <div class="col-md">
            </div>
            <div class="col-md">
            </div>
            <div class="col-md">
            </div>
            <div class="col-md">
                Mongo Scraper
            </div>
            <div class="col-md">
            </div>
            <div class="col-md">
            </div>
            <div class="col-md">
            </div>
        </nav>
    </div>

    <body>

        <div class="jumbotron jumbotron-fluid">
            <div class="container" id="jumbo">
                <h1 class="display-4"> </h1>
                
                </h1>East Bay Times News Scraper</h1>

                <h2 class="subheader">"Now Scrape, SCRAPE!"</h2>
            </div>
        </div>

        <div class="container" id="nav-bar">
            <nav class="row" id="this">
                <div class="col-md">
                </div>
                <div class="col-md"> Today's News
                    <p>{{{body}}}</p>
                </div>
                <div class="col-md">
                </div>
        </div>

        <script src="/assets/javascript/app.js"></script>
    </body>

</html>